header{
    grid-area: head;
    text-align: center;
    padding: 1em;
    padding-bottom: 0;
    
    h1{
        font-family: 'Libre Baskerville', serif;
        color: $font-color;
        font-weight: 400;
        font-size: 42px;
    }
}