#page2{

    padding-bottom: 2em;

    #page2-content{
        height: 100%;
        background-color: $font-color;
        border: 3px solid $font-color;
        padding: 1em;

        p{
            font-family: 'Roboto', sans-serif;
            color: $background-color;
            line-height: 190%;
            letter-spacing: 10%;
            font-size: 15px;
            margin-bottom: 1em;

            span{
                color: $background-color;
                margin-right: 0.5em;
            }

            .vShort{
                background: #ffff92;
            }
            .short{
                background: #dd92ff;
            }
            .medium{
                background: #92ffa1;
            }
            .long{
                background: #92e0ff;
            }
            .vLong{
                background: #ff9292;
            }
        }
    }

}